# Copia este archivo a .env y ajusta según entorno
# cp .env.example .env

# Producción - Render (usar en Vercel > Settings > Environment Variables)
VITE_API_URL=https://votaciones-t50j.onrender.com
VITE_FRONTEND_URL=https://votaciones-bewn9o85e-micaelasalcedos-projects.vercel.app

# Local
# VITE_API_URL=http://localhost:3000
# VITE_FRONTEND_URL=http://localhost:5173
